<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pyCar</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/level.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='libs/matter-js/build/matter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/introAnimation.js') }}"></script>

    <p class="guide-text">Привет</p>

    <style>
        p.guide-text {
            position: absolute;
            top: 50vh; left: 50vw;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            transition: 1s;
            transition-delay: 1s;
            opacity: 0;
        }
    </style>
</body>
</html>