<!-- Светофор -->
{% extends "level.html" %}
{% block extraVars %}
    <script>
        var levelId = 3;
        var fixedCamera = true;

        var basePythonCode = /*python*/ `
import json
import time
import asyncio

gameObjects = dict()

def js_sync():
    global gameObjects
    js_callback(json.dumps(gameObjects, default=lambda o: o.__dict__))

class Engine:
    def __init__(self):
        self.started = False
        self.power = 0
    
    def start(self):
        self.started = True
        js_sync()

    def stop(self):
        self.started = False
        js_sync()

    def set_power(self, value):
        self.power = value / 100
        js_sync()

class Headlights:
    def __init__(self):
        self.state = 0
        js_sync()
    
    def on(self):
        self.state = 1
        js_sync()

    def off(self):
        self.state = 0
        js_sync()

class Steering:
    def __init__(self):
        self.angle = 0
        js_sync()
    
    def set_angle(self, value):
        self.angle = value
        js_sync()

class Brakes:
    def __init__(self):
        self.state = 0
        js_sync()
    
    def on(self):
        self.state = 1
        js_sync()
    
    def off(self):
        self.state = 0
        js_sync()
    
    def set_value(self, value):
        self.value = value
        js_sync()

class Gearbox:
    def __init__(self):
        self.gear = 0
        js_sync()
        
    def D(self):
        self.gear = 1
        js_sync()

    def R(self):
        self.gear = -1
        js_sync()

    def P(self):
        self.gear = 0
        js_sync()

class FuelSystem:
    def __init__(self):
        self.fuel = 100
        js_sync()

    def add_fuel(self, value):
        self.fuel += value
        js_sync()

    def get_fuel(self):
        return self.fuel
        js_sync()

class Car:
    def __init__(self):
        self.engine = Engine()
        self.headlights = Headlights()
        self.steering = Steering()
        self.brakes = Brakes()
        self.gearbox = Gearbox()
        self.fuel_system = FuelSystem()

class Condition:
    def __init__(self, func):
        self.func = func

    def __call__(self):
        return self.func()

    def __bool__(self):
        return bool(self.func())

    def __str__(self):
        return str(self.func())

class Color:
    def __init__(self, value):
        self.value = value
    
    def __eq__(self, other):
        return Condition(lambda: self.value == other.value)
        
    def __ne__(self, other):
        return Condition(lambda: self.value != other.value)
    
    def __str__(self):
        return ['red', 'yellow', 'green'][self.value]

class Light:
    RED = Color(0)
    YELLOW = Color(1)
    GREEN = Color(2)
    def __init__(self, id, color):
        self.id = id
        self.color = color
        self.str_color = ['red', 'yellow', 'green'][self.color.value]
        js_sync()

    def set_color(self, color):
        self.color = color
        self.str_color = ['red', 'yellow', 'green'][self.color.value]
        js_sync()

    def get_color(self):
        return self.color
        js_sync()

def wait(condition):
    while not condition():
        handle_states(js_get_state())
        time.sleep(0.01)

def handle_states(states):
    for i in range(len(states)):
        if states[i] == 'light_green':
            light.set_color(GREEN)
        elif states[i] == 'light_red':
            light.set_color(RED)

#def update():
#    global last_update_time
#    if time.time() - last_update_time > 3:
#        global light
#        color = light.get_color()
#        if color == RED:
#            light.set_color(GREEN)
#        elif color == GREEN:
#            light.set_color(RED)
#        
#        js_sync()
#        last_update_time = time.time()

async def change_color(color):
    light.set_color(color)

RED = Color(0)
YELLOW = Color(1)
GREEN = Color(2)

car = Car()
light = Light(2, GREEN)

gameObjects = {
    'car': car,
    'light': light
}

last_update_time = time.time()
`;

        var baseCodeEditorText = '';

        var objects = [
            {
                id: 1,
                type: 'road',
                x: window.innerWidth / 4,
                y: window.innerHeight / 2 - ((2214 - window.innerHeight) / 2),
                width: 222,
                height: 2214,
                rotate: 0,
                path: '/static/assets/4/road.png',
                opacity: 1
            },
            {
                id: 2,
                type: 'light',
                x: window.innerWidth / 4 + 180, 
                y: window.innerHeight - 400, 
                width: 222,
                height: 2214,
                rotate: 0,
                color: 'red',
                rotate: Math.PI,
                opacity: 1
            },
            {
                id: null, 
                type: 'car', 
                x: window.innerWidth / 4, 
                y: window.innerHeight - 250, 
                width: 80, 
                height: 40,
                rotate: 0
            },
        ];

        messages = [];
    </script>
{% endblock %}