<!-- Продолжение -->
{% extends "level.html" %}
{% block extraVars %}
    <script>
        var levelId = 2;
        var fixedCamera = true;

        basePythonCode = `
import asyncio


async def _process_tasks():
    while True:
        task = await task_queue.get()
        await task
        task_queue.task_done()


task_queue = asyncio.Queue()
asyncio.create_task(_process_tasks())


class Car:
    def __init__(self):
        self.power = 0
        self.engine_started = True
        self.wheel_angle = 0

    def move(self):
        task_queue.put_nowait(self._move())

    async def _move(self):
        self.power = 1

    def stop(self):
        task_queue.put_nowait(self._stop())

    async def _stop(self):
        self.power = 0


def sleep(seconds):
    task_queue.put_nowait(asyncio.sleep(seconds))


car = Car()
`;
        baseCodeEditorText = '';

        var objects = [
            {
                id: null, 
                type: 'car', 
                x: window.innerWidth / 4, 
                y: window.innerHeight - 100, 
                width: 80, 
                height: 40,
                rotate: 0
            },
        ];

        messages = [
            ['Часто может возникнуть ситуация, в которой нужно сделать паузу', 0],
            ['Например, сейчас твоя задача — поехать и остановиться через 3 секунды', 3000],
            ['<span class="codeText">car.move()</span> — функция, которая заставит автомобиль ехать<br><span class="codeText">car.stop()</span> — остановиться', 5000],
            ['В Python строчки кода выполняются друг за другом. Например, если написать<br><br><span class="codeText">car.move()</span><br><span class="codeText">car.stop()</span><br><br>то машина поедет и сразу остановится', 8000],
            ['Чтобы сделать паузу, используется функция <span class="codeText">sleep()</span>', 11000, 'newBlock'],
            ['Эта функция принимает один аргумент — количество секунд, на которые нужно остановить выполнение программы. Чтобы передать аргумент, его нужно написать в скобках при вызове', 13000],
            ['<span class="codeText">sleep(3)</span> — строчка, которая остановит выполнение кода на 3 секунды', 15000],
            ['Далее', 18000, () => addMessage('Сейчас твоя задача — заставить автомобиль поехать и остановиться через 3 секунды')]
        ];

        const iId = setInterval(() => {
            let velocity = Body.getVelocity(car);
            let currentSpeedX = velocity.x;
            let currentSpeedY = velocity.y;

            if (currentSpeedX || currentSpeedY) {
                clearInterval(iId);
                
                setTimeout(() => {
                    setInterval(() => {
                        let velocity = Body.getVelocity(car);
                        let currentSpeedX = velocity.x;
                        let currentSpeedY = velocity.y;
                        if (!currentSpeedX && !currentSpeedY) {
                            levelEnd();
                        }
                    }, 100);
                }, 3000);
            }
        }, 100);
    </script>
{% endblock %}