<!-- Продолжение -->
{% extends "level.html" %}
{% block extraVars %}
    <script>
        var levelId = 2;
        var fixedCamera = true;

        basePythonCode = `
import asyncio


async def _process_tasks():
    while True:
        task = await task_queue.get()
        await task
        task_queue.task_done()


task_queue = asyncio.Queue()
asyncio.create_task(_process_tasks())


class Car:
    def __init__(self):
        self.power = 0
        self.engine_started = True
        self.wheel_angle = 0

    def move(self):
        task_queue.put_nowait(self._move())

    async def _move(self):
        self.power = 1

    def stop(self):
        task_queue.put_nowait(self._stop())

    async def _stop(self):
        self.power = 0


def sleep(seconds):
    task_queue.put_nowait(asyncio.sleep(seconds))


car = Car()
`;
        baseCodeEditorText = `# Теперь ты можешь управлять машиной более точно
        
# Выполни функцию forward, backward, right или left у car, чтобы посмотреть, что они делают

`;

        var objects = [
            {
                id: null, 
                type: 'car', 
                x: window.innerWidth / 4, 
                y: window.innerHeight - 100, 
                width: 80, 
                height: 40,
                rotate: -Math.PI / 2
            },
        ];

        messages = [
            ['Часто может возникнуть ситуация, в которой нужно сделать паузу', 0],
            ['Например, сейчас твоя задача — поехать и остановиться через 5 секунд', 3000],
            ['Чтобы сделать паузу, используется функция sleep', 5000],
            ['Напомним, что чтобы вызвать функцию, нужно написать её название и скобки. В скобках можно указать аргументы. Например, функция sleep принимает количество секунд, на которое нужно остановиться', 8000],
            ['<span class="codeText">sleep(5)</span> — строчка, которая остановит выполнение кода на 5 секунд', 11000],
            ['btn:Далее', 13000]
        ];
    </script>
{% endblock %}