<!-- Светофор -->
{% extends "level.html" %}
{% block extraVars %}
    <script>
        var levelId = 3;
        var fixedCamera = true;

        var basePythonCode = `
import asyncio

async def _process_tasks():
    while True:
        task = await task_queue.get()
        await task
        task_queue.task_done()


task_queue = asyncio.Queue()
asyncio.create_task(_process_tasks())

class Car:
    def __init__(self):
        self.power = 0
        self.engine_started = True
        self.wheel_angle = 0
        self.gear = 1
        self.brakes = False

    def engine_start(self):
        task_queue.put_nowait(self._engine_start())

    async def _engine_start(self):
        self.engine_started = True

    def engine_stop(self):
        task_queue.put_nowait(self._engine_stop())

    async def _engine_stop(self):
        self.engine_started = False

    def brakes_on(self):
        task_queue.put_nowait(self._brakes_on())

    async def _brakes_on(self):
        self.brakes = True

    def brakes_off(self):
        task_queue.put_nowait(self._brakes_off())

    async def _brakes_off(self):
        self.brakes = False

    def set_power(self, *args, **kwargs):
        task_queue.put_nowait(self._set_power(*args, **kwargs))

    async def _set_power(self, value):
        self.brakes = False
        self.power = (value / 100) * self.gear * self.engine_started

    def gear_F(self):
        task_queue.put_nowait(self._gear_F())

    async def _gear_F(self):
        self.gear = 1

    def gear_R(self):
        task_queue.put_nowait(self._gear_R())

    async def _gear_R(self):
        self.gear = -1

    def gear_P(self):
        task_queue.put_nowait(self._gear_P())

    async def _gear_P(self):
        self.gear = 0

class Condition:
    def __init__(self, check_func):
        self.check_func = check_func
    
    def __bool__(self):
        return self.check_func()

class Color:
    def __init__(self, value):
        self.value = value
    
    def __eq__(self, other):
        return Condition(lambda: self.value == other.value)
    
    def __ne__(self, other):
        return Condition(lambda: self.value != other.value)

class Light:
    RED = Color(0)
    YELLOW = Color(1)
    GREEN = Color(2)
    def __init__(self, id, color):
        self.id = id
        self.color = color
        self.str_color = ['red', 'yellow', 'green'][self.color.value]

    def set_color(self, color):
        self.color = color
        self.str_color = ['red', 'yellow', 'green'][self.color.value]

    def get_color(self):
        return self.color

def sleep(seconds):
    task_queue.put_nowait(asyncio.sleep(seconds))

def wait(condition):
    async def check_condition():
        while not condition:
            await asyncio.sleep(0.1)
    print(bool(condition))
    task_queue.put_nowait(check_condition())

RED = Color(0)
YELLOW = Color(1)
GREEN = Color(2)

car = Car()
light = Light(2, RED)
`;
        var baseCodeEditorText = '';

        var objects = [
            {
                id: 1,
                type: 'road',
                x: window.innerWidth / 4,
                y: window.innerHeight / 2 - ((2214 - window.innerHeight) / 2),
                width: 222,
                height: 2214,
                rotate: 0,
                path: '/static/assets/4/road.png',
                opacity: 1
            },
            {
                id: 2,
                type: 'light',
                x: window.innerWidth / 4 + 180, 
                y: window.innerHeight - 400, 
                width: 222,
                height: 2214,
                rotate: 0,
                color: 'red',
                rotate: Math.PI,
                opacity: 1
            },
            {
                id: null, 
                type: 'car', 
                x: window.innerWidth / 4, 
                y: window.innerHeight - 250, 
                width: 80, 
                height: 40,
                rotate: 0
            },
        ];

        messages = [
            ['Скрыть сообщения', 100, () => {
                getBodyById(1).opacity = 1;
                getBodyById(2).opacity = 1;
            }]
        ];

        let iId = null;
        setTimeout(() => {
            document.querySelector('#sendButton').addEventListener('click', () => {
                if (!iId) {
                    iId = setInterval(async () => {
                        let light = getBodyById(2);
                        if (light.color === 0) {
                            light.color = 2;
                            await evaluatePython('light.set_color(Light.GREEN)');
                        }
                        else {
                            light.color = 0;
                            await evaluatePython('light.set_color(Light.RED)');
                        }
                    }, 5000);
                }
            });
        }, 500);
        
        // setTimeout(() => {levelEnd()}, 10000);
    </script>
{% endblock %}