* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e0e0e;
    height: 100vh;
    overflow-y: hidden;
}

.CodeMirror {
    overflow-y: visible;
    position: fixed;
    top: 0; right: 0;
    width: calc(50vw - 20px);
    height: 80vh;
    font-size: 1.2em;
    border-bottom-left-radius: 20px;
}

/* .CodeMirror {
    position: fixed;
    top: 0;
    right: 0;
    width: 44vw;
    height: 80vh;
    outline: none;
    border: none;
    background-color: #252525;
    padding: 3vh;
    color: #fff;
    font-size: 1.2em;
    overflow-x: hidden;
} */

.btn_field {
    position: fixed;
    top: 90vh;
    right: 0;
    align-items: center;
    width: 50vw;
    justify-items: center;
    display: flex;
    justify-content: center;
}

#sendButton {
    outline: none;
    border: .2vh solid white;
    background-color: transparent;
    padding: 1vh 3vh;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}