<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pyCar — Главная</title>

    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <button id="wasmBtn">disable wasm</button>
    <div class="cont">
        <h1>pyCar</h1>
        <div class="levels">
            {% for level, name in levels %}
                <a href="/{{ level }}" class="level" id="{{ level }}">{{ level }}. {{ name }}</a>
            {% endfor %}
        </div>
    </div>

    <script>
        var wasmBtn = document.getElementById("wasmBtn");
        wasmBtn.addEventListener("click", function() {
            if (window.localStorage.getItem("no_wasm") === "true") {
                window.localStorage.setItem("no_wasm", "false");
                wasmBtn.innerText = 'disable wasm';
            } else {
                window.localStorage.setItem("no_wasm", "true");
                wasmBtn.innerText = 'enable wasm';
            }
        });
    </script>
</body>
</html>